body {
  background: rgb(2, 149, 224);
  background: linear-gradient(
    180deg,
    rgba(2, 149, 224, 1) 0%,
    rgba(0, 101, 255, 1) 12%,
    rgba(61, 89, 235, 1) 59%
  );
  height: 100vh;
}
.container {
  margin: auto;
  max-width: 600px;
}
.todoBlock {
  padding: 30px;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -9px 17px 13px rgb(0 0 0 / 16%);
}
